<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      QR Code App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-searchbar (ionInput)="getMovie($event)" placeholder="Rechercher le Film" [(ngModel)]="qrData"></ion-searchbar>
  </ion-item>
  <ion-grid *ngIf="movies">
    <ion-row>
      <!-- On affiche les images les images (poster_path) de chaque films qui se trouve dans le liste movies et nous leur donnons une action au click pour afficher plus de détails sur les films -->
      <ion-col col-4 *ngFor="let movie of movies">
        <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" (click)="createCode(movie)"/>
      </ion-col>
    </ion-row>
  </ion-grid>
  <button ion-button full icon-left (click)="createCode()"><ion-icon name="barcode"></ion-icon>Create Code</button>
  <button ion-button full icon-left (click)="scanCode()" color="secondary"><ion-icon name="qr-scanner"></ion-icon>Scan Code</button>

  <ion-card *ngIf="createdCode">
    <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
    <ion-card-content>
      <p>Value: {{ createdCode }}</p>
    </ion-card-content>
  </ion-card>
 
  <ion-card *ngIf="scannedCode">
    <ion-card-content>
      Result from Scan: {{ scannedCode }}
    </ion-card-content>
  </ion-card>
</ion-content>
